# Configure settings for arch-ostree
# The values in this example config are the defaults. In your
# arch-ostree.config, you only need to define the values you wish to
# change.
# 'scriptdir' refers to the path of the arch-ostree checkout

builder_tag="archlinux-ostree-builder"
rootfs_tag="archlinux-ostree-rootfs"
ostree_repo="/sysroot/ostree/repo"
podman_build_cache=false
deploy_env_dir="$scriptdir/deployment"
pacman_cache=
rootfs_containerfile="$scriptdir/Containerfile.full"
sysroot_dir="/mnt"
