# Configure settings for trellis
# The values in this example config are the defaults. In your
# trellis.config, you only need to define the values you wish to
# change.
# 'scriptdir' refers to the path of the trellis checkout

branch="trellis"
builder_stages=()
builder_tag="trellis-builder"
ostree_repo="/sysroot/ostree/repo"
sysroot_dir="/mnt"
src_dir="$scriptdir/setup"
podman_build_cache=false
pacman_cache=
aur_cache=
build_stages=()
extra_contexts=()
rootfs_tag="trellis-rootfs"
